*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #183188;
}

.container{
  width: 1200px;
  margin: 150px auto;
  display: flex;
  gap: 40px;
  text-align: center;
}

.card{
  position: relative;
  height: 400px;
  background-color: #ccc;
  border-radius: 10px;
}

img{
width: 100%;
height: 400px;

}

.card:hover{
  box-shadow: 0 1px 15px 4px rgb(180, 180, 171);
}

.content_title{
  margin: 0 10px;
  padding: 0;
  color: #fff;
  font-size: 20px;
}

.content_title span{
  font-size: 16px;
  color: yellow;
}

p{
  color: #fff;
}

.icon_list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  list-style: none;
}

.icon_link{
  color: #fff;
  padding: 0 10px;
}

.content{
  position: absolute;
  height: 60%;
  bottom: -100%;
  padding: 20px;
  transition: all 0.5s ease;
  opacity: 0;
}

.card:hover .content{
  bottom: 0%;
  opacity: 1;
  background-image: linear-gradient(0deg, rgb(88, 91, 97), transparent);
}